<footer>
  <a class="footer-link" href="https://www.github.com/evanmoses" target="_blank">
    <i class="fab fa-github footer-icon" title="my github profile"></i>
  </a>
  <a class="footer-link" href="https://www.twitter.com/evan_moses" target="_blank">
    <i class="fab fa-twitter footer-icon" title="my largely unused twitter"></i>
  </a>
  <a class="footer-link" href="https://www.linkedin.com/in/evanbmoses/" target="_blank">
    <i class="fab fa-linkedin footer-icon" title="ugh...linkedin"></i>
  </a>
  <p class="copydate">&copy;
    <span id="copyright"></span>
    Evan Moses
  </p>
</footer>
  <script src="https://unpkg.com/smoothscroll-anchor-polyfill"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

  <script src="/js/scripts.js"></script>

</body>

</html>
