<footer>
  <div class="mecoffee"></div>
  <a class="footer-link" href="https://www.github.com/evanmoses">
    <i class="fab fa-github footer-icon" title="my github profile"></i>
  </a>
  <a class="footer-link" href="https://www.linkedin.com/in/evanbmoses/">
    <i class="fab fa-linkedin footer-icon" title="ugh...linkedin"></i>
  </a>
  <a class="footer-link" href="https://www.evanmoses.com">
    <i class="fab fa-codepen footer-icon" title="check out my codepen"></i>
  </a>
  <p class="copydate">&copy;
    <span id="copyright">
      <script>
        document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
      </script>
    </span>
    Evan Moses
  </p>
</footer>

</body>

</html>
