<footer>
  <a class="footer-link" href="https://www.github.com/evanmoses">
    <i class="fab fa-github footer-icon" title="my github profile"></i>
  </a>
  <a class="footer-link" href="https://www.linkedin.com/in/evanbmoses/">
    <i class="fab fa-linkedin footer-icon" title="ugh...linkedin"></i>
  </a>
  <a class="footer-link" href="https://www.twiter.com/evan_moses">
    <i class="fab fa-twitter footer-icon" title="my largely unused twitter"></i>
  </a>
  <p class="copydate">&copy;
    <span id="copyright"></span>
    Evan Moses
  </p>
</footer>
  <script src="/js/scripts.js"></script>
  <script src="https://unpkg.com/smoothscroll-anchor-polyfill"></script>
</body>

</html>
