<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <title>Evan Moses</title>
  <script src="https://kit.fontawesome.com/762fe8cf8c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/hamburgers.min.css">
  <link rel="stylesheet" href="css/styles.css" />

</head>

<body>
  <header>
    <nav>

      <div class="title-link">
        <a href="#">Evan Moses</a>
      </div>
      <div class="nav-items">
        <div class="skip">
          <div class="hamburger hamburger--squeeze">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

        </div>
        <ul>

          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#blog">Blog</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div class="dark-slide">

        <label class="switch">
          <input id="check-toggle" type="checkbox">
          <span class="slider"></span>

        </label>
        <p class='no-dark'>
          Dark Mode?
        </p>

      </div>
    </nav>
  </header>
