<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z6813PL5TC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Z6813PL5TC');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="image" property="og:image" content="/images/large-logo.png" />
  <title>Evan Moses</title>
  <script src="https://kit.fontawesome.com/762fe8cf8c.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&family=Source+Serif+Pro:wght@300&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="stylesheet" title='draculamod' href="/css/draculamod.css" disabled />
  <link rel="stylesheet" title='stacklightmod' href="/css/stackoverflowlightmod.css" disabled />
  <link rel="stylesheet" href="/css/hamburgers.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />


</head>

<body>
  <header>
    <nav>

      <div class="title-link">
        <a href="/#">Evan Moses</a>
      </div>
      <div class="nav-items">
        <div class="skip">
          <div class="hamburger hamburger--squeeze">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>

        </div>
        <ul>

          <li><a href="/#about">About</a></li>
          <li><a href="/#projects">Projects</a></li>
          <li><a id="blog-nav" href="/#blog">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </div>
      <div class="dark-slide">

        <label class="switch">
          <input id="check-toggle" type="checkbox">
          <span class="slider"></span>

        </label>
        <p class='no-dark'>
          Dark Mode?
        </p>

      </div>
    </nav>
  </header>
