<% /* eslint-disable */ %>
<%- include("./partials/header") -%>
  <main>
    <section id="intro">
      <h2>Hi</h2>
    </section>
    <section id="about">
      <h2>About</h2>
      <p>
        testing the dark mode settings
      </p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
    </section>

    <section id="blog">
      <h2>Blog</h2>
    </section>

    <section id="contact">
      <h2>Contact</h2>
    </section>
  </main>

<%- include("./partials/footer") -%>
