<% /* eslint-disable */ %>
<%- include("./partials/header") -%>

  <main>
    <section id="#intro">

    </section>
    <section id="about">
    </section>

    <section id="projects">
    </section>

    <section id="blog">

    </section>

    <section id="contact">

    </section>
  </main>

<%- include("./partials/footer") -%>
