<% /* eslint-disable */ %>
<%- include("./partials/header") -%>
  <main>
    <section id="intro">
      <h2>Hello</h2>
      <div class="intro-container">
        <div class="col">
          <p class="intro-text">I'm Evan.</p>
          <p class="intro-text">I'm a full-stack developer.</p>
          <p class="intro-text">I make things for the web.</p>
        </div>
        <div class="img-col">
          <img class="profile-pic" src="images/profile.jpg" alt="bio picture of Evan Moses">
        </div>
      </div>
    </section>
    <section id="about">
      <h2>About</h2>
      <p>
        testing the dark mode settings
      </p>
    </section>

    <section id="projects">
      <h2>Projects</h2>
    </section>

    <section id="blog">
      <h2>Blog</h2>
    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>email: hello@evanmoses.com</p>
      <p>github: evanmoses</p>
      <p>twitter: @evan_moses</p>
      <p>linkedin: evanbmoses</p>
    </section>
  </main>

<%- include("./partials/footer") -%>
