<% /* eslint-disable */ %>
<%- include("partials/header"); -%>
<main>
  <h3 class="post-title"><%=post.title%></h3>
  <%# copy and paste the following into post content %>
  <%-post.content%>
</main>
<%- include("partials/footer"); -%>
