/****************CSS RESET****************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  --webkit-appearance: none;

  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  --scroll-behavior: smooth;

  scroll-behavior: smooth;
  height: 100%;
}

body {
  --text-color: #222831;
  --bkg-color: #eee;
  --alt-text: #444b59;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #222831;
  --alt-text: #bbb;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #222831;
    --alt-text: #bbb;
  }

  body.light-theme {
    --text-color: #222831;
    --bkg-color: #eee;
    --alt-text: #444b59;
  }
}

h1 {
  color: var(--text-color);
  transition: color 1s ease;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 40px;
  border-bottom: 5px solid #00adb5;
  width: fit-content;
  color: var(--text-color);
  text-shadow:
    3px 3px var(--bkg-color),
    3px -3px var(--bkg-color),
    -3px 3px var(--bkg-color),
    -3px -3px var(--bkg-color);
  transition: color 1s ease, text-shadow 0.8s ease;
}

p {
  color: var(--alt-text);
  transition: color 1s ease;
  font-size: 1.2rem;
}

body {
  background: var(--bkg-color);
  transition: background-color 0.8s ease, margin-top 0.4s;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #393e46;
  color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  height: 70px;
}

nav {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  order: 1;
}

.nav-items ul {
  display: flex;
}

ul li a {
  text-decoration: none;
  color: #eee;
  margin-right: 20px;
}

.title-link a {
  color: #eee;
  text-decoration: none;
}

/* Style the menu link */
.nav .skip {
  position: absolute;
  right: 1em;
  top: 1em;
  background: #ddd;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;

  &:focus {
    outline: none;
  }
}

.hamburger {
  &:focus {
    outline: none;
  }
}

/* Hide and position the closed .nav ul */
.nav-items ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 67px;
  left: 0;
  transition: max-height 0.6s;
  background-color: #2e333c;
  display: block;
  width: 100%;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.nav-items.open ul {
  max-height: 20em;
}

/* Style the list item links for ease of touch on small screens */
.nav-items li a {
  margin: 20px 35px;
  display: block;
}

.title-link {
  font-size: 1.3rem;
  font-weight: 500;
  max-width: 60px;
  text-align: center;
  order: 2;
}

/* On screens larger than 35em, remove the menu link and display all menu items */
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  .nav-items {
    order: 2;
  }

  .nav-items ul {
    overflow: auto;
    max-height: inherit;
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .nav-items li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }

  .nav-items li:last-child {
    border: 0;
  }

  .nav-items li a {
    margin: 0 20px 0 0;
    padding: 10px 0;
  }

  .nav-items .skip {
    display: none;
    visibility: hidden;
  }

  .dark-slide {
    margin-left: auto;
  }

  .title-link {
    max-width: 60px;
    order: 1;
    margin-right: 50px;
    text-align: left;
  }
}

.dark-slide {
  text-align: center;
  order: 3;
}

.no-dark {
  font-size: 0.7rem;
  margin-top: 3px;
  color: #eee;
}

/* DARK MODE SLIDER */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  overflow: visible;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 17px;
}

input:checked + .slider {
  background-color: #00adb5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00adb5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

main {
  margin-top: 100px;
  padding: 0 10%;
  max-width: 800;
  margin-bottom: 50px;
  flex: 1 0 auto;
}

section {
  margin: 50px 0 50px;
}

section::before {
  display: block;
  content: '';
  pointer-events: none;
  height: 250px;
  margin: -250px 0 0;
}

#intro::before {
  margin: -250px 0 0;
}

/* MAIN CONTENT SECTIONS */

.intro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col {
  order: 2;
}

.intro-text {
  font-size: 2.5rem;
  padding: 40px 0;
  font-weight: 500;
  color: var(--text-color);
}

.profile-pic {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.img-col {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  margin-left: 30px;
}

@media screen and (max-width: 1200px) {
  .intro-text {
    font-size: 1.7rem;
    padding: 25px 0;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 768px) {
  .img-col {
    margin-top: 0;
    order: 1;
    width: 100%;
  }

  .col {
    margin-top: 0;
  }

  .profile-pic {
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 768px) {
  section::before, #intro::before {
    height: 100px;
    margin: -100px 0 0;
  }
}

.section-container {
  display: flex;
  margin: 30px 0 30px;
}

.section-row {
  display: flex;
  max-width: 1500px;
  margin-left: -60px;
  flex-wrap: wrap;
}

#about {
  max-width: 800px;
  margin-bottom: 80px;
}

.content-p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.8rem;
}

.content-link {
  text-decoration: none;
  color: #00adb5;
}

.content-link:hover {
  text-decoration: underline;
}

.contact-p {
  line-height: 1.8rem;
}

/* Project Cards */

.project-card {
  width: 280px;
  background-color: #393e46;
  overflow: hidden;
  padding: 10px;
  margin: 0 0 60px 60px;
  height: fit-content;
}

.project-card img {
  height: 200px;
  width: 260px;
  margin-bottom: 10px;
  cursor: pointer;
}

.project-card h3 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  color: #eee;
  margin-bottom: 10px;
}

.project-card p {
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #bbb;
  line-height: 1.2;
}

.tech-stack {
  font-weight: 400;
  font-size: 0.9rem;
  margin: 20px 0 5px;
  color: #bbb;
  border-bottom: #00adb5 2px solid;
  width: fit-content;
}

.project-links {
  text-align: center;
  margin: 0 0 10px;
}

.project-icon {
  color: #00adb5;
  font-size: 1.6rem;
  margin: 5px;
  text-decoration: none;
}

.toggle-content {
  max-height: 0;
  overflow: hidden;
  margin: 15px 0 15px;
  transition: max-height 0.5s;
}

.toggle-content p {
  font-size: 0.9rem;
  color: #bbb;
  font-weight: 200;
  line-height: 1.5;
}

.expanded {
  max-height: 100vh;
}

.card-expander {
  text-align: center;
  min-height: 15px;
  margin: 5px -10px -10px;
  cursor: pointer;
  transition: all 0.5s;
}

@media (hover: hover) and (pointer: fine) {
  .card-expander:hover {
    background-color: #00adb5;
  }
}

.card-toggle {
  background-color: #393e46;
}

.toggle-icon {
  color: #eee;
  font-size: 1.3rem;
}

.rotated {
  transform: rotate(180deg);
}

/* FOOTER */
footer {
  background-color: #393e46;
  color: #eee;
  text-align: center;
  padding: 15px;
  flex-shrink: 0;
}

.footer-link {
  margin: 5px;
  color: #eee;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6rem;
}

.copydate {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #eee;
}

.form-container {
  margin-top: 20px;
  padding: 10%;
}

.form-group {
  display: flex;
  flex-direction: column;
  color: white;
}

.submit-btn {
  margin: 10px 0 10px;
  width: 100px;
}
