/****************CSS RESET****************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  --scroll-behavior: smooth;

  scroll-behavior: smooth;
}

body {
  --text-color: #222831;
  --bkg-color: #eee;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #222831;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #222831;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #eee;
  }
}

h2 {
  color: var(--text-color);
  text-shadow:
    3px 3px var(--bkg-color),
    3px -3px var(--bkg-color),
    -3px 3px var(--bkg-color),
    -3px -3px var(--bkg-color);
  transition: color 1s ease, text-shadow 0.6s ease;
}

h1, p {
  color: var(--text-color);
  transition: color 1s ease;
}

body {
  background: var(--bkg-color);
  transition: background-color 0.6s ease;
  line-height: 1;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #393e46;
  color: #eee;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
}

nav {
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  display: flex;
  align-items: center;
  order: 1;
}

.nav-items ul {
  display: flex;
}

ul li a {
  text-decoration: none;
  color: #eee;
  margin-right: 20px;
}

.title-link a {
  color: #eee;
  text-decoration: none;
}

/* Style the menu link */
.nav .skip {
  position: absolute;
  right: 1em;
  top: 1em;
  background: #ddd;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;

  &:focus {
    outline: none;
  }
}

.hamburger {
  &:focus {
    outline: none;
  }
}

/* Hide and position the closed .nav ul */
.nav-items ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 67px;
  left: 0;
  transition: max-height 0.6s ease;
  background-color: #2E333C;
  display: block;
  width: 100%;
}

/* Give the .nav ul a height when it's been opened, i.e. make it show */
.nav-items.open ul {
  max-height: 20em;
}

/* Style the list item links for ease of touch on small screens */
.nav-items li a {
  margin: 20px 35px;
  display: block;
}

/* On screens larger than 35em, remove the menu link and display all menu items */
@media screen and (min-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  .nav-items {
    order: 2;
  }

  .nav-items ul {
    overflow: auto;
    max-height: inherit;
    position: static;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }

  .nav-items li {
    text-align: left;
    display: inline-block;
    border-top: 0;
  }

  .nav-items li:last-child {
    border: 0;
  }

  .nav-items li a {
    margin: 5px 20px 5px 0;
  }

  .nav-items .skip {
    display: none;
    visibility: hidden;
  }

  .dark-slide {
    margin-left: auto;
  }

  .title-link {
    max-width: 60px;
    order: 1;
    margin-right: 50px;
  }
}

.title-link {
  font-size: 1.3rem;
  font-weight: 500;
  order: 2;
}

.dark-slide {
  text-align: center;
  order: 3;
}

.no-dark {
  font-size: 0.7rem;
  margin-top: 3px;
  color: #eee;
}

/* DARK MODE SLIDER */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  overflow: visible;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 17px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #eee;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 17px;
}

input:checked + .slider {
  background-color: #00adb5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00adb5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

footer {
  background-color: #393e46;
  color: #eee;
  text-align: center;
  padding: 15px;
}

.footer-link {
  margin: 5px;
  color: #eee;
  text-decoration: none;
  font-weight: 200;
  font-size: 1.6rem;
}

.copydate {
  margin-top: 10px;
  font-size: 0.8rem;
}

main {
  margin-top: 100px;
  padding: 0 10%;
  max-width: 800;
  margin-bottom: 50px;
}

section {
  height: 800px;
}

section::before {
  display: block;
  content: '';
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 20px;
  border-bottom: 5px solid #00adb5;
  width: fit-content;
}
